/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.title {
  display: flex;
  align-items: center;
  justify-content:space-between
}
.title span {
  font-size: 1em;
}
.product-info {
  align-items: center;
  align-content: center;
}
.product-desc {
  font-size:1.5em;
}
.product {
  display:flex;
  flex-direction: row;
  align-items:center;
}
.product-qty {
  width:2em;
  text-align: center;
}